# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

#theme dynamix
!web/app/themes/dynamix
web/app/themes/dynamix/dist
web/app/themes/dynamix/node_modules
web/app/themes/dynamix/npm-debug.log
web/app/themes/dynamix/yarn-error.log
web/app/themes/dynamix/vendor
web/app/themes/dynamix/.cache-loader
web/app/themes/dynamix/resources/assets/config-local.json